<ul class="list-unstyled">
  <% tasks.each do |task| %>
    <% user = task.user %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(task.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= task.created_at %></span>
        </div>
        <div>
          <ul>
          <li>タスク：<%= task.content %></li>
          <li>ステータス：<%= task.status %></li>
        </ul>
        </div>
        <div>
          <%= link_to "Edit", edit_task_path(task), class: 'btn btn-primary btn-xs' %>
          <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate tasks %>
</ul>